<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Recode Racer 🏎</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1 class="text-center">Recode Racer</h1>
    <hr>
    <!-- You race HTML code here -->
    <table class="racer_table">
      <tr id="player1_race">
        <td id="current" class="active1"></td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td class="finish">|</td>
      </tr>
      <tr id="player2_race">
        <td class="active2"></td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td>|</td>
        <td class="finish">|</td>
      </tr>
    </table>   
    <hr>
    <script src="/lib/recode_racer.js"></script>
  </body>
</html>
